/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
* site: https://studyotini.com
*/
@charset "utf-8";

/*
--- Reset.css
--------------------------------------------------- */
/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0;  font-size:100%; /*font: inherit;*/ vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse: collapse;   border-spacing: 0;}
/* end of reset.css of eric meyer */

/*
--- AutomaticImageMontage.css
--------------------------------------------------- */
/**
 * jQuery Montage plugin
 * https://www.codrops.com/
 *
 * Copyright 2011, Pedro Botelho
 * Licensed under the MIT license.
 * https://www.opensource.org/licenses/mit-license.php
 *
 * Date: Tue Aug 30 2011
 */
/*
.am-wrapper{float:left; position:relative; overflow:hidden;}
.am-wrapper img{position:absolute;}
#friends-auto-montage-container {seperator for images holder width:100%;}
#friends-auto-montage-container > a {cursor:help; color:#222; text-decoration:none;}
*/

/*
--- Elastislide.css
--------------------------------------------------- */
/**
 * Elastislide Style
 */
.es-carousel-wrapper {padding:32px; position:relative;}
.es-carousel {overflow:hidden;}
.es-carousel ul {display:none;}
.es-carousel ul li {height:100%;    float:left; display:block;}
.es-carousel ul li a {display:block;}
.es-carousel ul li a img {  display:block;  border:none;    max-height:100%;    max-width:100%;}
.es-nav span {background:transparent url(../img/slider-control-button-single.png) no-repeat top left; width:32px;    height:32px; position:absolute; top:50%;    left:-3px;  margin-top:-16px;   text-indent:-9000px;    cursor:pointer; opacity:0.9;}
.es-nav span.es-nav-next {  right:-3px; left:auto;  background-position:top right;}
.es-nav span:hover {    opacity:1.0;}



/*
--- Fonts
--------------------------------------------------- */
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on March 3, 2012 04:55:17 PM America/New_York */
@font-face {
    font-family:'PTSansNarrowRegular';
        src:url('../fonts/PT-Sans-fontfacekit/PTN57F-webfont.eot');
        src:url('../fonts/PT-Sans-fontfacekit/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/PT-Sans-fontfacekit/PTN57F-webfont.woff') format('woff'),
                url('../fonts/PT-Sans-fontfacekit/PTN57F-webfont.ttf') format('truetype'),
                url('../fonts/PT-Sans-fontfacekit/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*
--- Globals
--------------------------------------------------- */
body, html {height:100%;}
body {
    background:#e5e5e5 url(../img/bg-body-background.jpg) fixed repeat left top;
    font-family:"PTSansNarrowRegular", "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:16px;
}
img {border:none; outline:none;}
a {border:none; outline:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
hr {clear:both; border-top-color:#c2c2c2; border-bottom-color:#e3e3e3;}
/*text selection colors*/
::selection {background:#ed255e; color:#FFF; text-shadow:none; /* Safari */}
::-moz-selection {background:#ed255e; color:#FFF; text-shadow:none; /* Firefox */}

/*
--- Generic classes
--------------------------------------------------- */
.clear-collapses {position:relative; clear:both;}
.fade-overlay-full {background:transparent url(../img/helix-fade-overlay.png) repeat fixed center center; position:fixed; top:0; right:0; bottom:0; left:0; z-index:0;}
.modal-overlay-full {background:transparent url(../img/black-opaque-80.png) repeat fixed left top; position:fixed; top:0; right:0; bottom:0; left:0; display:none; z-index:700;}

.color-studio {color:#7092c0;}
.color-tini {color:#afb4bc;}

.center-text {text-align:center;}

.staff-members-holder-shadow {
    -webkit-box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

/*all tooltips via jquery easytooltip plugin*/
#easyTooltip{
    background:#f1f1f1; z-index:990;
    padding:2px 6px 1px; letter-spacing:1px;
    color:#222; font-size:10px; border:1px solid #555;
    /*box*/
    -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
    -webkit-box-shadow:0px 0px 4px 1px rgba(0, 0, 0, 0.4); -moz-box-shadow:0px 0px 4px 1px rgba(0, 0, 0, 0.4); box-shadow:0px 0px 4px 1px rgba(0, 0, 0, 0.4);
}

/*
--- Main wrapper
--------------------------------------------------- */
#main-wrapper {height:100%; z-index:600; /*height 100% not wraps all content but necessary for splash page vertical centering*/}

/*
--- Navigation
--------------------------------------------------- */
#navigation-holder {
    background:#000 url(../img/bg-navigation-holder.png) repeat-x left top; min-width:450px; /*hard-coded*/ height:30px; z-index:900;
    position:fixed; top:0; left:0; right:0;
    /*box*/
    -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.9);
    box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.9);
}
#navigation-holder > ul {position:relative; float:right; margin:8px 40px 0px 0px;}
#navigation-holder li {display:inline; font-size:14px; letter-spacing:1px; text-shadow:0px -2px 0px #000; color:#e1e1e1; border-right:1px solid #303030; padding:0 5px 0 3px;}


#navigation-holder li:last-child {margin-right:0; border-right:none; padding-right:0;}
#navigation-holder a {text-decoration:none; color:inherit;}
#navigation-holder a:hover {color:#7092c0;}

/*
--- Contents
--------------------------------------------------- */
.content-screen {/*min-width:960px; min-height:100%;*/ position:relative; clear:both;}
.inner-content-holder {width:800px; margin:0 auto;}
.inner-content-holder > h1 {position:relative; font-weight:bold; font-size:48px; letter-spacing:-3px; color:#43434E; text-shadow:0 2px 0 #fff; text-align:center; margin-bottom:-12px;}
.inner-content-holder > h2 {position:relative; margin-top:-4px; /*hard-coded*/ font-weight:bold; font-size:16px; color:#888; text-shadow:0 1px 0 #fff; text-align:center;}
.contents {margin-top:60px;}
.content-seperator {background:url(../img/content-seperator.png) no-repeat center center; position:relative; clear:both; height:30px; margin:50% 0;}
.content-seperator-no-margin {background:url(../img/content-seperator.png) no-repeat center center; position:relative; clear:both; height:30px;}
.continue-button {
    background:url(../img/content-continue-button.png) no-repeat 0 0; width:50px; height:50px; /*hard-coded width and height same as arrow image at height, half of width*/
    position:relative; clear:both; margin:70px auto 0; display:block; overflow:hidden; text-decoration:none;
}
.back-to-top-button {background-image:url(../img/back-to-top-button.png) !important;}
a.continue-button:hover {background-position:-50px 0;}

/*
--- Splash / Home
--------------------------------------------------- */
#content-tini {min-height:100%;}
#splash-name-holder {width:436px; /*hard coded same as spalsh image width*/ position:absolute; left:50%; top:50%; margin:-150px 0 0 -218px; /*hard-coded to center image*/}
#splash-name-holder > img {display:block;}
#splash-name-holder > h1 {color:#55575A; text-shadow:0px 1px 0px #fff; text-align:right; font-size:17px; letter-spacing:5px; padding:4px 6px 0 0;}
#splash-start-button {background:transparent url(../img/splash-start-button.png) no-repeat left top; width:122px; height:46px; position:relative; display:block; margin:0 auto; top:100px;}
#splash-start-button:hover {background-position:0 -46px;}

/*
--- About
--------------------------------------------------- */
#content-hakkimizda {}
.about-box {width:332px; position:relative; float:left; padding:17px; margin:17px;}
.about-box > h2 {font-size:18px; font-weight:bold; text-shadow:1px 1px 0px #999; color:#393939; padding:4px 0 8px;}
.about-box > p {text-shadow:0 1px 0 #fff; color:#2b2b2b; line-height:1.1; display:block;}
.left-box {/*seperator for left side boxed*/ text-align:right;}
.right-box {/*seperator for right side boxed*/ text-align:left;}
.about-clear-box {/*for second line break, attach tihs class to 3th .about-box*/ clear:left;}
#staff-members-holder img {margin:6px 4px 0 1px; border:1px solid #222;}

/*staff members content holder*/
#staff-members-content {
    background:url(../img/bg-body-background.jpg) repeat left top; z-index:800;
    width:70%; min-height:100px;
    position:absolute; top:0; display:none; left:50%; margin-left:-35%;
    border:8px solid #444;
}

#staff-members-content > .staff-holder-close-button {position:absolute; bottom:-38px; left:50%; margin-left:-32px;}
.staff-member-instance {display:none; padding:60px 30px 20px; text-align:center;}
.staff-member-instance > img {border:1px solid #222; margin-bottom:10px;}
.staff-member-instance > h1 {font-size:30px; letter-spacing:-1px; color:#2a2a2a; text-shadow:0px 2px 0px #fff; padding:8px 0;}
.staff-member-instance > h2 {font-size:20px; font-weight:bold; color:#5a5a5a; text-shadow:0px 1px 0px #fff;}
.staff-member-instance > p {/*padding:20px 0 0;*/ color:#444; text-shadow:0px 1px 0px #fff;}
#staff-members-holder-inner {text-align:center; padding:20px 30px 50px;}
#staff-members-holder-inner img {margin:0px 2px; border:1px solid #222;}

/*
--- Works
--------------------------------------------------- */
#content-works {}
#sliding-content-works {/*sliding contents holder*/ overflow:hidden;}
#carousel-works-list {}
#carousel-works-list li {}
.album-info {
    margin:7px; padding:6px;
    /*box*/
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4);
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 2px 2px 8px 8px;
    border-radius: 2px 2px 8px 8px;
}
.album-info > .top {/*width:160px; height:160px; display:block; */ cursor:default; /*image holder, use square images, same sizes -160px- if available*/}
.album-info > .top > img {display:block;}
.album-info > .bottom {margin-top:12px;}
.album-name, .album-artist, .album-year {text-align:center;}
.album-artist, .album-year, .album-details {margin-top:6px;}
.album-name {font-size:14px; color:#222; text-shadow:0px 1px 0px #fff; height:14px; overflow:hidden;}
.album-artist {font-size:15px; color:#222; text-shadow:1px 1px 0px #888;}
.album-year {font-weight:bold; font-size:13px; color:#333; text-shadow:0px 1px 0px #fff;}

/*
--- Friends
--------------------------------------------------- */
#friends-container {text-align:center;}
#friends-container > a {cursor:help;}
#friends-container img {position:relative; vertical-align:middle; border:2px solid #eee; margin:2px; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);}

/*
--- Equipment
--------------------------------------------------- */
#content-equipment {}
.equipment-list-holder {position:relative; float:left;}
#equipment-recording-studio {width:59%; padding-right:2%;}
#equipment-practise-studio {width:38%; padding-left:1%; text-align:right;}
.equipment-list-holder > h2 {position:relative; font-size:36px; color:#333; font-weight:bold; text-shadow:0px 2px 0px #fff; margin-bottom:10px; letter-spacing:-2px; border-bottom:1px solid #333;}
#equipment-practise-studio > h2 {float:right;}
#equipment-recording-studio > h2 {float:left;}
.equipment-list-holder > ul {clear:both;}
#equipment-recording-studio p {padding-left:4px;}
#equipment-recording-studio li {padding-left:8px;}
#equipment-practise-studio li {padding-right:6px;}
.equipment-list-holder p {color:#C00; text-transform:capitalize; font-size:18px; margin:3px 0; font-weight:bold;}
.equipment-list-holder li {color:#292929; font-weight:bold; font-size:16px; text-shadow:0px 1px 0px #fff;}

/*
--- Contact
--------------------------------------------------- */
#content-contact {}
.content-box {
    min-width:240px;
    position:relative;
    /* float:left; */
    color:#333;
    /*box*/
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
#contact-box-left {width: auto; margin:4% 3%; padding:4% 3%;}
#contact-box-right > p:first-child {text-transform:capitalize;}
#contact-box-left li, #contact-box-right > p:first-child {border-bottom:1px dashed #777; padding:8px 4px 5px; text-align:center;}
#contact-box-left li:last-child {border-bottom:none; padding-bottom:0;}
#contact-box-left a {color:#7b122b; text-decoration:none; text-shadow:0px 1px 0px #fff;}
#contact-box-left a:hover {color:#af2b4a;}
#contact-box-right {background:url(../img/xfmail_128x128.png) right 70% no-repeat; width:38%; margin:4% 3%; padding:4% 3%;}

/*contact form styles*/
#form-container {padding:20px 0 0;}
/*#form-container > img {position:absolute; right:30px; top:75px;}*/
#form-container p {width:100%; position:relative; float:left; clear:both; margin:2px 0;}
#form-container label {width:55px; height:100%; position:relative; float:left; text-align:right; vertical-align:middle; padding-top:6px; font-size:13px;}
input.noSubmit, textarea.noSubmit {width:146px; position:relative; float:left; margin-left:8px; border:2px solid #999; padding:2px; color:#222; text-shadow:none;}
input.submit {width:58px; position:relative; float:left; left:62px; color:#222; text-shadow:none; font-size:11px; padding:5px 0 3px;}
#form-container textarea {min-height:52px; max-width:146px; max-height:72px;}
#form-container input.noSubmit:focus, #form-container textarea:focus {border:2px solid #af2b4a; outline:none;}
a#contact-link-overlay-trigger {cursor:pointer;}
#ajax-spinner {opacity:0.65; display:none; position:relative; float:left; left:70px; top:6px;}
#contact-form-holder-box {padding-left:0; font-size:12px;}
#contact-form-info-box {position:relative; float:left; left:65px;}
#form-container input, #form-container textarea, #contact-form-holder-box {font-family:'PTSansNarrowRegular';}

/*map*/
#google-map-holder {
    width:780px; height:330px; position:relative; clear:both;
    border:10px solid #ddd;
    /*box*/
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
}
#social-widgets-holder {width:780px; margin-top:42px;}
#facebook-social-plugin-holder {width:290px; height:256px; overflow:hidden; position:relative; float:right;
    /*box*/
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
}
#fb-plugin-frame {left:-1px; top:-1px; position:relative;}
#twitter-widget {
    width:292px; position:relative; float:right; margin-left:32px;
    padding: 10px;
    /*box*/
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
}


/*
--- Footer
--------------------------------------------------- */
#footer {
    background:#333 url(../img/bg-footer.png);
    position:relative; clear:both; margin-top:20px; padding:20px 16px 2px; border-top:4px solid #161616;
    color:#ddd; font-size:12px;
    /*box*/
    -webkit-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -3px 12px 2px rgba(0, 0, 0, 0.6);
}
#footer a {text-decoration:none; color:inherit;}
#footer a:hover {color:#7092c0;}
#copyright-info {text-align:center; font-size:13px;}
#footer-site-map li {display:inline;}
#footer-social-media-links {margin:6px 0;}
#footer-social-media-links li {display:inline;}

/*
--- Gallery images
--------------------------------------------------- */
#gallery-images-holder {
    background:#eee url(../img/bg-body-background.jpg) repeat left top; z-index:850;
    position:fixed; top:50%; left:50%; display:none; width:64px; height:64px; margin-left:-32px; margin-top:-32px;
    border:10px solid #eee; -webkit-border-radius: 3px; border-radius: 3px;
    /*box*/
    -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.8);
}
#gallery-images-holder > img {display:block;}
#small-gallery-images-positioner {position:absolute; bottom:0; width:100%;}

.studio-images-holder img {margin:4px 1px 0px; border:1px solid #222;}
.gallery-holder-close-button {position:absolute; left:50%; bottom:-46px; margin-left:-20px;}
#gallery-image-spinner {position:absolute; left:50%; top:50%; margin:-8px 0 0 -8px; display:none; opacity:0.8;}

/*
--- z-index info
--------------------------------------------------- */
/*

--- 990 #easyTooltip
--- 900 #navigation-holder
--- 850 #gallery-images-holder
--- 800 #staff-members-content
--- 700 .modal-overlay-full
--- 600 #main-wrapper
--- 000 .fade-overlay-full

*/

/*
--- Media Queries
--------------------------------------------------- */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    /* slider */
    .es-carousel-wrapper {padding:74px;}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    /* inner content holder */
    .inner-content-holder {width:700px;}
    .about-box {width:282px;}

    /* slider */
    .es-carousel-wrapper {padding:40px;}
    #carousel-works-list > li {margin:0 20px;}

    /*map*/
    #google-map-holder {width:600px; margin:0 auto;}
    #map-frame {width:600px;}

    /* social widgets */
    #social-widgets-holder {width:600px; margin:32px auto 0;}
    #twitter-widget {margin-left:16px; margin-bottom:32px;}



}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    /* inner content holder */
    .inner-content-holder {width:auto;}
    .about-box {width:auto;}

    /* slider */
    .es-carousel-wrapper {padding:30px;}
    #carousel-works-list > li {margin:0 36px;}

    /* equipment */
    #equipment-recording-studio, #equipment-practise-studio {width:auto;}
    #equipment-practise-studio {margin-top:30px;}
    #equipment-recording-studio > h2, #equipment-practise-studio > h2 {float:none;}
    .equipment-list-holder {float:none;}

    /* contact */
    #contact-box-left, #contact-box-right {width:auto; margin:4% 0;}
    .content-box {float:none; min-width:0;  /*box*/ -webkit-border-radius:0px;  -moz-border-radius:0px; border-radius:0px; -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);     -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);   box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);}
    input.noSubmit, #form-container textarea {width:246px; max-width:none;}

    /*map*/
    #google-map-holder {width:90%; margin:0 auto;}
    #map-frame {width:100%;}

    /* social widgets */
    #social-widgets-holder {width:100%;}
    #twitter-widget {margin-left:5%; float:none; margin:0 auto;}
    #facebook-social-plugin-holder {margin-right:5%; float:none; margin:32px auto 0;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    /* staff members content */
    #staff-members-content {width:440px; margin-left:-228px;}



}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    /* navigation */
    #navigation-holder {min-width:0; height:auto;}
    #navigation-holder > ul {position:relative; text-align:center; float:none; margin:6px 0px 4px;}
    #navigation-holder li {font-size:16px; border:none;}
    #navigation-holder a {display:inline-table; padding:1px 2px; margin:1px 0;}

    /* slider */
    .es-carousel-wrapper {padding:12px;}
    #carousel-works-list > li {margin:0 auto;}


    /* name holder */
    #splash-name-holder {width:200px; margin-left:-100px; margin-top:-80px;}
    #splash-start-button {top:60px;}
    #splash-name-holder > img {/*ratio:0.4243*/ width:200px; height:85px;}
    #splash-name-holder > h1 {font-size:14px; letter-spacing:2px; padding-right:0;}

    /* contact */
    input.noSubmit, #form-container textarea {width:126px; max-width:none;}

    /* staff members content */
    #staff-members-content {width:240px; margin-left:-128px;}
    .staff-member-instance {padding:60px 8px 20px;}
    #content-metin > img {width:150px; height:123px;}
    #content-apo > img {width:202px; height:135px;}
    #content-gokhan > img {width:174px; height:174px;}
    #content-aycan > img {width:186px; height:124px;}

    /*landscpae images*/
    #friend-image-mavi-siyah {width:300px; height:112px;}
    #friend-image-guz-kumpanyasi {width:300px; height:91px;}


}























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {*/
    /* Style adjustments for viewports that meet the condition */
/*}*/

/*@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {*/
    /* Style adjustments for high resolution devices */
/*}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
